[submodule "desktop-apps"]
	path = desktop-apps
	url = https://github.com/UnivaultOffice/desktop-apps.git
[submodule "desktop-sdk"]
	path = desktop-sdk
	url = https://github.com/UnivaultOffice/desktop-sdk.git
[submodule "core"]
	path = core
	url = https://github.com/UnivaultOffice/core.git
[submodule "sdkjs"]
	path = sdkjs
	url = https://github.com/UnivaultOffice/sdkjs.git
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/UnivaultOffice/dictionaries.git
[submodule "web-apps"]
	path = web-apps
	url = https://github.com/UnivaultOffice/web-apps.git
